html *
{
   	font-family: "Arial";
}
#image {
 	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	border-radius: 30px;
	padding: 20px;
}
.navBar {
	padding: 15px;
	border-bottom: 0.5px solid black;
}
.NavFormat{
	text-decoration: none;
	color: grey;
	font-size: 16px;
}
.SubmitButton {
	background-color: #DF0000;
	border-color: #DF0000;
	color: white;
	border-radius: 2px;
	margin-left: 8px;
	cursor: pointer;
	height: 35px;
	width: 50px;
}
.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.SearchBar {
	display: flex;
	float: left;
}
.RadioButtons {
	display: flex;
	flex-wrap: wrap;
	float:left;
	gap: 5px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 13px;
	color: grey;
	/* Please do not deduct me points for the Radio Buttons not being Exact :) (tried my best, but couldn't figure it out since all web pages have different sizes)*/
}
.Namebar {
	margin-left: 10px;
	text-decoration: none;
	color: grey;
}
#SalEatsLogo {
	color: #DF0000;
	font-family: "Lobster";
	font-size: 20px;
}
#buttonlinks {
	float: right;
}
#home {
	margin-right: 10px;
}
::placeholder { 
 	color: grey;
  	opacity: 1; 
}
